<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello PHP Framework!</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
<div class="container">
    <p>
        My first website with <strong>PHP Framework</strong>!
    </p>
</div>
</body>
</html>